@import "globales.scss";

.header{
    background-color: $color-principal;
    padding: 0 16px;
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    position: relative;
    z-index: 10;

    .header__nav{
        @include flexRule(row);
        gap: 120px;
        padding-top: 32px;
    
        .nav__logo{
            img{
                width: 100%;
            };
        }
        .nav__button{
            text-decoration: none;
            width: 124px;
            padding-bottom: 64px;
            p{
                color: $color-terciario;
                padding-bottom: 4px;
                font-weight: bold;
                width: 132px;
            }
            hr{
                height: 3px;
                background-color: $color-cuaternario;
                border: none;
            }
        }
    }
    
    .header__main{
        @include flexRule(column,center,center);
        width: 100%;
        

        h1{
            font-family: $fuente-principal;
            font-variation-settings: 'opsz' 500;
            font-size: 4.8rem;
            color: $color-terciario;
            //font-weight:400;
            text-align: center;
            margin-bottom: 40px;
        }
    
        .header__main--span{
            text-decoration: underline;
            color: $color-terciario;
            text-decoration-color: $color-cuaternario;
            text-underline-offset: 8px;
        }

    }
    .header__image-hero{
        @include flexRule(null,center);
        position: relative;
        top: 80px;
        width: 100%;
        z-index: 10;
        img{
            @include wH(320px,184px);
        }
    }  
}

.button{
    @include wH(133px,55px);
    background-color: $color-cuaternario;
    color: $color-principal;
    margin: 0 auto;
    font-weight: bold;
    border: none;
}



main{

    .seccion__oferta{
        @include flexRule(column,center,center);
        gap: 40px;
        padding: 0 16px;
        background-color: $color-secundario;
        text-align: center;
        padding-bottom: 148px;
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
        padding-top: 208px;
        position: relative;
        top: -52px;
    }

    .oferta__container{
        @include flexRule(column,null,center);
        width: 100%;

        .oferta__numero{
            @include flexRule(null,center,center);
            @include wH(48px,48px);
            font-family: $fuente-principal;
            font-variation-settings: 'opsz' 500;
            font-size: 2rem;
            border: solid 1px $color-quinto;
            border-radius: 100%;
            margin-bottom: 24px;

            p{
                color: $color-principal;
            }
        }

        .oferta__titular{
            margin-bottom: 16px;
            font-size: 2.8rem;
            color: $color-principal;
            font-family: $fuente-principal;
            font-variation-settings: 'opsz' 500;
            font-weight: 500;
        }
    }

    .seccion__founder{
        background-color: $color-terciario;
        padding: 0 16px;
        margin-top: 80px;
    }
}








footer{
    padding: 0 16px;
}