@font-face {
  font-family: "fraunces";
  src: url(/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
  font-family: "manrope";
  src: url(/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #584D62;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #FFFFFF;
  font-family: "manrope";
}

img {
  width: 50%;
}

.header {
  background-color: #24053E;
  padding: 0 16px;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  position: relative;
  z-index: 10;
}
.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 120px;
  padding-top: 32px;
}
.header .header__nav .nav__logo img {
  width: 100%;
}
.header .header__nav .nav__button {
  text-decoration: none;
  width: 124px;
  padding-bottom: 64px;
}
.header .header__nav .nav__button p {
  color: #FFFFFF;
  padding-bottom: 4px;
  font-weight: bold;
  width: 132px;
}
.header .header__nav .nav__button hr {
  height: 3px;
  background-color: #44FFA1;
  border: none;
}
.header .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header .header__main h1 {
  font-family: "fraunces";
  font-variation-settings: "opsz" 500;
  font-size: 4.8rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}
.header .header__main .header__main--span {
  text-decoration: underline;
  color: #FFFFFF;
  text-decoration-color: #44FFA1;
  text-underline-offset: 8px;
}
.header .header__image-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 80px;
  width: 100%;
  z-index: 10;
}
.header .header__image-hero img {
  width: 320px;
  height: 184px;
}

.button {
  width: 133px;
  height: 55px;
  background-color: #44FFA1;
  color: #24053E;
  margin: 0 auto;
  font-weight: bold;
  border: none;
}

main .seccion__oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 0 16px;
  background-color: #FCF8FF;
  text-align: center;
  padding-bottom: 148px;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  padding-top: 208px;
  position: relative;
  top: -52px;
}
main .oferta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
main .oferta__container .oferta__numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  font-family: "fraunces";
  font-variation-settings: "opsz" 500;
  font-size: 2rem;
  border: solid 1px #584D62;
  border-radius: 100%;
  margin-bottom: 24px;
}
main .oferta__container .oferta__numero p {
  color: #24053E;
}
main .oferta__container .oferta__titular {
  margin-bottom: 16px;
  font-size: 2.8rem;
  color: #24053E;
  font-family: "fraunces";
  font-variation-settings: "opsz" 500;
  font-weight: 500;
}
main .seccion__founder {
  background-color: #FFFFFF;
  padding: 0 16px;
  margin-top: 80px;
}

footer {
  padding: 0 16px;
}